dash==2.18.2
pandas==2.2.3
dash_ag_grid==31.3.0
flask_caching==2.3.1
openai==1.65.5
sentence_transformers==3.3.1
faiss-cpu==1.9.0.post1
python-dotenv==1.0.1
db-dtypes==1.4.2
plotly==5.24.1
dash-bootstrap-components==1.7.1
dash_socketio==1.1.1
Flask-SocketIO==5.5.1
